{{!-- file: assets/javascripts/discourse/templates/media.hbs --}}
<div class="media-gallery-placeholder">
  <h1>Media gallery placeholder</h1>
  <p>This page was added by the discourse-filesharing plugin.</p>
</div>
